<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Centros premiados - Gobierno de Aragón</title>
    <!-- metadata -->
    <!-- premios consulta:
    {{#cargo_query:
        tables=PremiosDGADB, CentrosDB
        |join on=PremiosDGADB.codigo=CentrosDB.ccentro
        |fields=titulo=label, premio=premio, CentrosDB.denom=centro, convocatoria=convocatoria, detalle, coord, PremiosDGADB._ID=id
        |format=csv
        |filename=premios.csv
    }}
-->
    <link href="http://area47mil.educa.aragon.es/w/index.php?title=Especial:CargoExport&amp;tables=PremiosDGADB%2CCentrosDB&amp;join+on=PremiosDGADB.codigo%3DCentrosDB.ccentro&amp;fields=titulo%3Dlabel%2C+premio%3Dpremio%2C+CentrosDB.denom%3Dcentro%2C+convocatoria%3Dconvocatoria%2C+detalle%2C+coord__full%3Dcoord%2C+PremiosDGADB._ID%3Did%2C+CentrosDB._pageName%3Dpcentro&amp;format=csv&amp;filename=premios.csv" type="text/csv" rel="exhibit/data" data-ex-has-column-titles="true">
    <!-- for testing -->
<!--
    <link href="csv/premios.csv" type="text/csv" rel="exhibit/data" data-ex-has-column-titles="true">
-->
    <link href="schema_premios.json" type="application/json" rel="exhibit-data">
    <script src="js/lib/jquery-1.11.3.min.js" type="text/javascript">
    </script>
    <link rel="exhibit-extension" href="js/extensions/map/map-extension.js" />
    <script src="js/exhibit-api.js?locale=es" type="text/javascript"></script>
    <link rel='stylesheet' href='http://www.simile-widgets.org/styles/common.css' type='text/css' />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script>
    $(document).bind("dataload.exhibit", function() {
        $("input").addClass("form-control");
        $('div#leyenda').append($('div.exhibit-legendWidget'));
        $('div#leyenda').show();
        $('div.exhibit-mapView-map').addClass('img-rounded')
    });
    </script>
    <style>
    span.exhibit-legendWidget-entry {
        display: block;
        text-align: left;
    }

    div.exhibit-legendWidget {
        text-align: left;
    }

    div#leyenda {
        border-radius( 30px);
        border: solid #ddd 2px;
        padding: 5px;
        display: none;
        margin-top: 10px;
    }

    span.exhibit-legendWidget-entry-title {
        font-weight: normal;
        font-size: 80%;
    }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-xs-4">
                <div class="ext_search" data-ex-role="exhibit-facet" data-ex-facet-class="TextSearch" data-ex-facet-label="Buscar en el mapa" data-ex-expressions=".label, .premio, .centro">
                </div>
                <br>
                <div data-ex-role="exhibit-facet" data-ex-expression=".premio" data-ex-facet-label="Premios" data-ex-collapsible="true" data-ex-show-missing="false" data-ex-scroll="false"></div>
                <br>
                <div data-ex-role="exhibit-facet" data-ex-expression=".convocatoria" data-ex-facet-label="Convocatoria" data-ex-show-missing="false" data-ex-scroll="false" id="convocatoria"></div>
                <br>
                <div id="leyenda" class="img-rounded">
                    <p><strong>Leyenda</strong></p>
                </div>
            </div>
            <div class="col-md-5 col-xs-8">
                <!-- color coder -->
                <div data-ex-role="coder" data-ex-coder-class="Color" id="colores-premios" style="display: none;">
                    <span data-ex-color="blue" data-ex-case="BBPP innovadoras en el 1er ciclo de Educación Infantil">BBPP innovadoras en el 1er ciclo de Educación Infantil</span>
                    <span data-ex-color="#FFFF00" data-ex-case="BBPP innovadoras en el 2º ciclo de Educación Infantil">BBPP innovadoras en el 2º ciclo de Educación Infantil</span>
                    <span data-ex-color="#FF00FF" data-ex-case="Buenas prácticas de educación inclusiva y de convivencia">Buenas prácticas de educación inclusiva y de convivencia</span>
                    <span data-ex-case="mixed" data-ex-color="#009A57">Varios premios</span>
                </div>
                <!-- mapa -->
                <div data-ex-role="view" data-ex-view-class="Map" data-ex-label="Mapa" data-ex-latlng=".coord" data-ex-center="41.6561, -0.8773" data-ex-zoom="8" data-ex-map-height="540" data-ex-show-tool-box="true" data-ex-color-key=".premio" data-ex-color-coder="colores-premios">
                    <div class="map-lens" data-ex-role="lens" style="display: none">
                        <p data-ex-content=".label" style="font-weight: bold;"></p>
                        <p> <span class="glyphicon glyphicon-zoom-in"></span> <a target="_parent" data-ex-href-subcontent="http://area47mil.educa.aragon.es/wiki/{{.pcentro}}" data-ex-content=".centro"></a>
                        </p>
                        <div data-ex-if-exists=".detalle" class="detalle"><strong>Premio: </strong>
                            <span data-ex-content="concat( .detalle, ' (', .convocatoria, ')' )"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
        </footer>
    </div>
</body>

</html>
